.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container .language-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.game-container .language-bar p {
  font-weight: 500;
  color: #fff;
}

.game-container .language-bar img {
  width: 40px;
  margin: 0 8px;
  transition: transform 0.2s;
  cursor: pointer;
}

.game-container .language-bar img:hover {
  transform: scale(1.1);
}

.game-container .game-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.game-container .game-content .side-bar .header-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.game-container .game-content .side-bar .header-bar > img {
  min-width: 200px;
  width: 50%;
}

.game-container .game-content .side-bar .header-bar .header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-container .game-content .side-bar .header-bar .header-buttons .retry-btn {
  border: 2px solid #0066a8;
  border-radius: 20px;
  background-color: transparent;
  padding: 15px;
  margin-top: 30px;
  margin-left: 10px;
  fill: #0066a8;
  transition: 0.2s;
  cursor: pointer;
}

.game-container
  .game-content
  .side-bar
  .header-bar
  .header-buttons
  .retry-btn
  svg {
  width: 25px;
  height: 25px;
}

.game-container
  .game-content
  .side-bar
  .header-bar
  .header-buttons
  .retry-btn:hover {
  background-color: #0066a8;
  fill: #191935;
}

.game-container .game-content .side-bar .section-text {
  background-color: #191935;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  border: 3px dashed rgb(216, 216, 216);
  margin-top: 20px;
  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.game-container .game-content .side-bar .section-text p {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.game-container .game-content .side-bar .section-text img {
  width: 150px;
  align-self: flex-end;
}

.game-container .game-content .game-board {
  width: 700px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.336);
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 15px;
}

.game-container .game-content .game-board .card {
  grid-column: auto;
  grid-row: auto;
  width: 100px;
  height: 100px;
  transition: transform 0.2s;
  cursor: pointer;
}

.game-container .game-content .game-board .card:hover {
  transform: scale(1.05);
}
